* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 50vh;
  min-width: 50vw;
  display: flex;
  font-size: 2rem;
}

div.izquierda {
  background-color: rgb(7, 182, 182);
  color: crimson;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
div.main {
  padding: 10px;
  flex-grow: 1;
}

@media (max-width: 640px) {
  body {
    flex-direction: column-reverse;
  }
  div.izquierda {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
